In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np

load_dotenv()
TRAIN_SET = os.getenv("TRAIN_PATH")
TEST_SET  = os.getenv("TEST_PATH")
DESCRIPTION = os.getenv("DESCRIPTION_PATH")
    
train = pd.read_csv(TRAIN_SET)
test = pd.read_csv(TEST_SET)
description = pd.read_csv(DESCRIPTION)


train.head()

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,PCIAT-PCIAT_18,PCIAT-PCIAT_19,PCIAT-PCIAT_20,PCIAT-PCIAT_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday,sii
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,...,4.0,2.0,4.0,55.0,NaN,NaN,NaN,Fall,3.0,2.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,...,0.0,0.0,0.0,0.0,Fall,46.0,64.0,Summer,0.0,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,...,2.0,1.0,1.0,28.0,Fall,38.0,54.0,Summer,2.0,0.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,...,3.0,4.0,1.0,44.0,Summer,31.0,45.0,Winter,0.0,1.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
test.head()

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,BIA-BIA_TBW,PAQ_A-Season,PAQ_A-PAQ_A_Total,PAQ_C-Season,PAQ_C-PAQ_C_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,...,32.6909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall,3.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,...,27.0552,NaN,NaN,Fall,2.340,Fall,46.0,64.0,Summer,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,...,NaN,NaN,NaN,Summer,2.170,Fall,38.0,54.0,Summer,2.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,...,45.9966,NaN,NaN,Winter,2.451,Summer,31.0,45.0,Winter,0.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,Summer,1.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
description.head()

,Instrument,Field,Description,Type,Values,Value Labels
0,Identifier,id,Participant's ID,str,NaN,NaN
1,Demographics,Basic_Demos-Enroll_Season,Season of enrollment,str,"Spring, Summer, Fall, Winter",NaN
2,Demographics,Basic_Demos-Age,Age of participant,float,NaN,NaN
3,Demographics,Basic_Demos-Sex,Sex of participant,categorical int,"0,1","0=Male, 1=Female"
4,Children's Global Assessment Scale,CGAS-Season,Season of participation,str,"Spring, Summer, Fall, Winter",NaN

## Obiettivo:
In questo file decidiamo di effettuare una pulizia dei dati ed eseguire le prime operazioni di feature engineering general purpose. Trattamento specifico dei dati allo scopo di un classificatore specifico avverrà nel file del classificatore specifico stesso.

Ogni passaggio sarà spiegato ed il codice sarà (se necessario) commentato per aiutare la comprensione

 - Elimino tutte le righe in cui la variabile target risulta NaN. Estraggo poi la variabile target (_'sii'_)

In [9]:
train = train.dropna(subset=['sii'])

y_train = train['sii']

y_train.shape

(2736,)

 - Elimino tutte le colonne presenti nel train ma non nel test. Elimino la colonna relativa all'id

In [10]:
def intersect_features(train_set, test_set):
    smaller_train = train_set[train_set.columns.intersection(test_set.columns)]
    smaller_train = smaller_train.drop(columns=['id'], axis=1)
    return smaller_train

X_train = intersect_features(train, test)

X_train.shape

(2736, 58)

In [11]:
description = description[description['Field'].isin(X_train.columns)]

#i want to delete all the columns of the description.T that have the substring 'Season' in their name
description = description[~description['Field'].str.contains('Season')]
description.shape

(48, 6)

In [12]:
description.head()

,Instrument,Field,Description,Type,Values,Value Labels
2,Demographics,Basic_Demos-Age,Age of participant,float,NaN,NaN
3,Demographics,Basic_Demos-Sex,Sex of participant,categorical int,"0,1","0=Male, 1=Female"
5,Children's Global Assessment Scale,CGAS-CGAS_Score,Children's Global Assessment Scale Score,int,NaN,NaN
7,Physical Measures,Physical-BMI,Body Mass Index (kg/m^2),float,NaN,NaN
8,Physical Measures,Physical-Height,Height (in),float,NaN,NaN

 - Rimuovo le feature che presentano un'elevata percentuale di valori NaN. (Valore arbitrario, scelgo 70% di valori NaN di default)

In [13]:
# Drop the columns with more than a fixed percentage of missing values:
def drop_columns(df, threshold = 0.3): #by default the threshold is 30%. If a column is >= 80% of NaNs, it will be dropped. It can be changed.

    # Calculate the minimum required non-NaN values per column based on the threshold percentage
    minimum_non_NaN = len(df) * threshold   

    # Identify columns to be dropped
    dropped_columns = df.columns[df.isnull().sum() > (len(df) - minimum_non_NaN)].tolist()

    # Drop the identified columns from the DataFrame
    new_df = df.drop(columns=dropped_columns)
    
    return new_df, dropped_columns

features_train, dropped_columns = drop_columns(X_train)
features_train.info()
print("=====================================================\n shape: ", features_train.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 2736 entries, 0 to 3958
Data columns (total 52 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Basic_Demos-Enroll_Season               2736 non-null   object
 1   Basic_Demos-Age                         2736 non-null   int64
 2   Basic_Demos-Sex                         2736 non-null   int64
 3   CGAS-Season                             2342 non-null   object
 4   CGAS-CGAS_Score                         2342 non-null   float64
 5   Physical-Season                         2595 non-null   object
 6   Physical-BMI                            2527 non-null   float64
 7   Physical-Height                         2530 non-null   float64
 8   Physical-Weight                         2572 non-null   float64
 9   Physical-Diastolic_BP                   2478 non-null   float64
 10  Physical-HeartRate                      2486 non-null   float64
 11  Physical-Systolic_BP                    2478 non-null   float64
 12  Fitness_Endurance-Season                1260 non-null   object
 13  FGC-Season                              2647 non-null   object
 14  FGC-FGC_CU                              1919 non-null   float64
 15  FGC-FGC_CU_Zone                         1884 non-null   float64
 16  FGC-FGC_GSND                            872 non-null    float64
 17  FGC-FGC_GSND_Zone                       864 non-null    float64
 18  FGC-FGC_GSD                             871 non-null    float64
 19  FGC-FGC_GSD_Zone                        864 non-null    float64
 20  FGC-FGC_PU                              1909 non-null   float64
 21  FGC-FGC_PU_Zone                         1875 non-null   float64
 22  FGC-FGC_SRL                             1911 non-null   float64
 23  FGC-FGC_SRL_Zone                        1877 non-null   float64
 24  FGC-FGC_SRR                             1913 non-null   float64
 25  FGC-FGC_SRR_Zone                        1879 non-null   float64
 26  FGC-FGC_TL                              1919 non-null   float64
 27  FGC-FGC_TL_Zone                         1885 non-null   float64
 28  BIA-Season                              1844 non-null   object
 29  BIA-BIA_Activity_Level_num              1813 non-null   float64
 30  BIA-BIA_BMC                             1813 non-null   float64
 31  BIA-BIA_BMI                             1813 non-null   float64
 32  BIA-BIA_BMR                             1813 non-null   float64
 33  BIA-BIA_DEE                             1813 non-null   float64
 34  BIA-BIA_ECW                             1813 non-null   float64
 35  BIA-BIA_FFM                             1813 non-null   float64
 36  BIA-BIA_FFMI                            1813 non-null   float64
 37  BIA-BIA_FMI                             1813 non-null   float64
 38  BIA-BIA_Fat                             1813 non-null   float64
 39  BIA-BIA_Frame_num                       1813 non-null   float64
 40  BIA-BIA_ICW                             1813 non-null   float64
 41  BIA-BIA_LDM                             1813 non-null   float64
 42  BIA-BIA_LST                             1813 non-null   float64
 43  BIA-BIA_SMM                             1813 non-null   float64
 44  BIA-BIA_TBW                             1813 non-null   float64
 45  PAQ_C-Season                            1440 non-null   object
 46  PAQ_C-PAQ_C_Total                       1440 non-null   float64
 47  SDS-Season                              2527 non-null   object
 48  SDS-SDS_Total_Raw                       2527 non-null   float64
 49  SDS-SDS_Total_T                         2525 non-null   float64
 50  PreInt_EduHx-Season                     2719 non-null   object
 51  PreInt_EduHx-computerinternet_hoursday  2654 non-null   float64
dtypes: float64(41), int64(2), object(9)
memory usage: 1.1+ MB
=====================================================
 shape:  (2736, 52)

 - Divido le feature del mio dataset tra categoriche e numeriche e decodifico le categoriche tramite 1HE

In [14]:
def extract_numerical_cathegorical(df):
    # Extract numerical and categorical columns
    numerical = df.select_dtypes(include=np.number).columns.tolist()
    categorical = df.select_dtypes(exclude=np.number).columns.tolist()

    return numerical, categorical

numerical_features, categorical_features = extract_numerical_cathegorical(features_train)
print("Numerical features are: ", len(numerical_features), "-> ", numerical_features)
print("=================================================\nCathegorical features are: ", len(categorical_features), "-> ", categorical_features)

Numerical features are:  43 ->  ['Basic_Demos-Age', 'Basic_Demos-Sex', 'CGAS-CGAS_Score', 'Physical-BMI', 'Physical-Height', 'Physical-Weight', 'Physical-Diastolic_BP', 'Physical-HeartRate', 'Physical-Systolic_BP', 'FGC-FGC_CU', 'FGC-FGC_CU_Zone', 'FGC-FGC_GSND', 'FGC-FGC_GSND_Zone', 'FGC-FGC_GSD', 'FGC-FGC_GSD_Zone', 'FGC-FGC_PU', 'FGC-FGC_PU_Zone', 'FGC-FGC_SRL', 'FGC-FGC_SRL_Zone', 'FGC-FGC_SRR', 'FGC-FGC_SRR_Zone', 'FGC-FGC_TL', 'FGC-FGC_TL_Zone', 'BIA-BIA_Activity_Level_num', 'BIA-BIA_BMC', 'BIA-BIA_BMI', 'BIA-BIA_BMR', 'BIA-BIA_DEE', 'BIA-BIA_ECW', 'BIA-BIA_FFM', 'BIA-BIA_FFMI', 'BIA-BIA_FMI', 'BIA-BIA_Fat', 'BIA-BIA_Frame_num', 'BIA-BIA_ICW', 'BIA-BIA_LDM', 'BIA-BIA_LST', 'BIA-BIA_SMM', 'BIA-BIA_TBW', 'PAQ_C-PAQ_C_Total', 'SDS-SDS_Total_Raw', 'SDS-SDS_Total_T', 'PreInt_EduHx-computerinternet_hoursday']
=================================================
Cathegorical features are:  9 ->  ['Basic_Demos-Enroll_Season', 'CGAS-Season', 'Physical-Season', 'Fitness_Endurance-Season', 'FGC-Season', 'BIA-Season', 'PAQ_C-Season', 'SDS-Season', 'PreInt_EduHx-Season']

In [15]:
decoded_train = pd.get_dummies(features_train, columns=categorical_features)
decoded_train.info()
print("=====================================================\n shape: ", decoded_train.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 2736 entries, 0 to 3958
Data columns (total 79 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Basic_Demos-Age                         2736 non-null   int64
 1   Basic_Demos-Sex                         2736 non-null   int64
 2   CGAS-CGAS_Score                         2342 non-null   float64
 3   Physical-BMI                            2527 non-null   float64
 4   Physical-Height                         2530 non-null   float64
 5   Physical-Weight                         2572 non-null   float64
 6   Physical-Diastolic_BP                   2478 non-null   float64
 7   Physical-HeartRate                      2486 non-null   float64
 8   Physical-Systolic_BP                    2478 non-null   float64
 9   FGC-FGC_CU                              1919 non-null   float64
 10  FGC-FGC_CU_Zone                         1884 non-null   float64
 11  FGC-FGC_GSND                            872 non-null    float64
 12  FGC-FGC_GSND_Zone                       864 non-null    float64
 13  FGC-FGC_GSD                             871 non-null    float64
 14  FGC-FGC_GSD_Zone                        864 non-null    float64
 15  FGC-FGC_PU                              1909 non-null   float64
 16  FGC-FGC_PU_Zone                         1875 non-null   float64
 17  FGC-FGC_SRL                             1911 non-null   float64
 18  FGC-FGC_SRL_Zone                        1877 non-null   float64
 19  FGC-FGC_SRR                             1913 non-null   float64
 20  FGC-FGC_SRR_Zone                        1879 non-null   float64
 21  FGC-FGC_TL                              1919 non-null   float64
 22  FGC-FGC_TL_Zone                         1885 non-null   float64
 23  BIA-BIA_Activity_Level_num              1813 non-null   float64
 24  BIA-BIA_BMC                             1813 non-null   float64
 25  BIA-BIA_BMI                             1813 non-null   float64
 26  BIA-BIA_BMR                             1813 non-null   float64
 27  BIA-BIA_DEE                             1813 non-null   float64
 28  BIA-BIA_ECW                             1813 non-null   float64
 29  BIA-BIA_FFM                             1813 non-null   float64
 30  BIA-BIA_FFMI                            1813 non-null   float64
 31  BIA-BIA_FMI                             1813 non-null   float64
 32  BIA-BIA_Fat                             1813 non-null   float64
 33  BIA-BIA_Frame_num                       1813 non-null   float64
 34  BIA-BIA_ICW                             1813 non-null   float64
 35  BIA-BIA_LDM                             1813 non-null   float64
 36  BIA-BIA_LST                             1813 non-null   float64
 37  BIA-BIA_SMM                             1813 non-null   float64
 38  BIA-BIA_TBW                             1813 non-null   float64
 39  PAQ_C-PAQ_C_Total                       1440 non-null   float64
 40  SDS-SDS_Total_Raw                       2527 non-null   float64
 41  SDS-SDS_Total_T                         2525 non-null   float64
 42  PreInt_EduHx-computerinternet_hoursday  2654 non-null   float64
 43  Basic_Demos-Enroll_Season_Fall          2736 non-null   bool
 44  Basic_Demos-Enroll_Season_Spring        2736 non-null   bool
 45  Basic_Demos-Enroll_Season_Summer        2736 non-null   bool
 46  Basic_Demos-Enroll_Season_Winter        2736 non-null   bool
 47  CGAS-Season_Fall                        2736 non-null   bool
 48  CGAS-Season_Spring                      2736 non-null   bool
 49  CGAS-Season_Summer                      2736 non-null   bool
 50  CGAS-Season_Winter                      2736 non-null   bool
 51  Physical-Season_Fall                    2736 non-null   bool
 52  Physical-Season_Spring                  2736 non-null   bool
 53  Physical-Season_Summer                  2736 non-null   bool
 54  Physical-Season_Winter                  2736 non-null   bool
 55  Fitness_Endurance-Season_Fall           2736 non-null   bool
 56  Fitness_Endurance-Season_Spring         2736 non-null   bool
 57  Fitness_Endurance-Season_Summer         2736 non-null   bool
 58  Fitness_Endurance-Season_Winter         2736 non-null   bool
 59  FGC-Season_Fall                         2736 non-null   bool
 60  FGC-Season_Spring                       2736 non-null   bool
 61  FGC-Season_Summer                       2736 non-null   bool
 62  FGC-Season_Winter                       2736 non-null   bool
 63  BIA-Season_Fall                         2736 non-null   bool
 64  BIA-Season_Spring                       2736 non-null   bool
 65  BIA-Season_Summer                       2736 non-null   bool
 66  BIA-Season_Winter                       2736 non-null   bool
 67  PAQ_C-Season_Fall                       2736 non-null   bool
 68  PAQ_C-Season_Spring                     2736 non-null   bool
 69  PAQ_C-Season_Summer                     2736 non-null   bool
 70  PAQ_C-Season_Winter                     2736 non-null   bool
 71  SDS-Season_Fall                         2736 non-null   bool
 72  SDS-Season_Spring                       2736 non-null   bool
 73  SDS-Season_Summer                       2736 non-null   bool
 74  SDS-Season_Winter                       2736 non-null   bool
 75  PreInt_EduHx-Season_Fall                2736 non-null   bool
 76  PreInt_EduHx-Season_Spring              2736 non-null   bool
 77  PreInt_EduHx-Season_Summer              2736 non-null   bool
 78  PreInt_EduHx-Season_Winter              2736 non-null   bool
dtypes: bool(36), float64(41), int64(2)
memory usage: 1.0 MB
=====================================================
 shape:  (2736, 79)

In [16]:
decoded_train.head()

,Basic_Demos-Age,Basic_Demos-Sex,CGAS-CGAS_Score,Physical-BMI,Physical-Height,Physical-Weight,Physical-Diastolic_BP,Physical-HeartRate,Physical-Systolic_BP,FGC-FGC_CU,...,PAQ_C-Season_Summer,PAQ_C-Season_Winter,SDS-Season_Fall,SDS-Season_Spring,SDS-Season_Summer,SDS-Season_Winter,PreInt_EduHx-Season_Fall,PreInt_EduHx-Season_Spring,PreInt_EduHx-Season_Summer,PreInt_EduHx-Season_Winter
0,5,0,51.0,16.877316,46.0,50.8,NaN,NaN,NaN,0.0,...,False,False,False,False,False,False,True,False,False,False
1,9,0,NaN,14.035590,48.0,46.0,75.0,70.0,122.0,3.0,...,False,False,True,False,False,False,False,False,True,False
2,10,1,71.0,16.648696,56.5,75.6,65.0,94.0,117.0,20.0,...,True,False,True,False,False,False,False,False,True,False
3,9,0,71.0,18.292347,56.0,81.6,60.0,97.0,117.0,18.0,...,False,True,False,False,True,False,False,False,False,True
5,13,1,50.0,22.279952,59.5,112.2,60.0,73.0,102.0,12.0,...,False,False,False,False,True,False,False,True,False,False

 - Converto le features booleane risultati dal 1HE in numeriche e converto tutto in _float64_

In [17]:
decoded_train *= 1
decoded_train = decoded_train.astype('float64')
decoded_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2736 entries, 0 to 3958
Data columns (total 79 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Basic_Demos-Age                         2736 non-null   float64
 1   Basic_Demos-Sex                         2736 non-null   float64
 2   CGAS-CGAS_Score                         2342 non-null   float64
 3   Physical-BMI                            2527 non-null   float64
 4   Physical-Height                         2530 non-null   float64
 5   Physical-Weight                         2572 non-null   float64
 6   Physical-Diastolic_BP                   2478 non-null   float64
 7   Physical-HeartRate                      2486 non-null   float64
 8   Physical-Systolic_BP                    2478 non-null   float64
 9   FGC-FGC_CU                              1919 non-null   float64
 10  FGC-FGC_CU_Zone                         1884 non-null   float64
 11  FGC-FGC_GSND                            872 non-null    float64
 12  FGC-FGC_GSND_Zone                       864 non-null    float64
 13  FGC-FGC_GSD                             871 non-null    float64
 14  FGC-FGC_GSD_Zone                        864 non-null    float64
 15  FGC-FGC_PU                              1909 non-null   float64
 16  FGC-FGC_PU_Zone                         1875 non-null   float64
 17  FGC-FGC_SRL                             1911 non-null   float64
 18  FGC-FGC_SRL_Zone                        1877 non-null   float64
 19  FGC-FGC_SRR                             1913 non-null   float64
 20  FGC-FGC_SRR_Zone                        1879 non-null   float64
 21  FGC-FGC_TL                              1919 non-null   float64
 22  FGC-FGC_TL_Zone                         1885 non-null   float64
 23  BIA-BIA_Activity_Level_num              1813 non-null   float64
 24  BIA-BIA_BMC                             1813 non-null   float64
 25  BIA-BIA_BMI                             1813 non-null   float64
 26  BIA-BIA_BMR                             1813 non-null   float64
 27  BIA-BIA_DEE                             1813 non-null   float64
 28  BIA-BIA_ECW                             1813 non-null   float64
 29  BIA-BIA_FFM                             1813 non-null   float64
 30  BIA-BIA_FFMI                            1813 non-null   float64
 31  BIA-BIA_FMI                             1813 non-null   float64
 32  BIA-BIA_Fat                             1813 non-null   float64
 33  BIA-BIA_Frame_num                       1813 non-null   float64
 34  BIA-BIA_ICW                             1813 non-null   float64
 35  BIA-BIA_LDM                             1813 non-null   float64
 36  BIA-BIA_LST                             1813 non-null   float64
 37  BIA-BIA_SMM                             1813 non-null   float64
 38  BIA-BIA_TBW                             1813 non-null   float64
 39  PAQ_C-PAQ_C_Total                       1440 non-null   float64
 40  SDS-SDS_Total_Raw                       2527 non-null   float64
 41  SDS-SDS_Total_T                         2525 non-null   float64
 42  PreInt_EduHx-computerinternet_hoursday  2654 non-null   float64
 43  Basic_Demos-Enroll_Season_Fall          2736 non-null   float64
 44  Basic_Demos-Enroll_Season_Spring        2736 non-null   float64
 45  Basic_Demos-Enroll_Season_Summer        2736 non-null   float64
 46  Basic_Demos-Enroll_Season_Winter        2736 non-null   float64
 47  CGAS-Season_Fall                        2736 non-null   float64
 48  CGAS-Season_Spring                      2736 non-null   float64
 49  CGAS-Season_Summer                      2736 non-null   float64
 50  CGAS-Season_Winter                      2736 non-null   float64
 51  Physical-Season_Fall                    2736 non-null   float64
 52  Physical-Season_Spring                  2736 non-null   float64
 53  Physical-Season_Summer                  2736 non-null   float64
 54  Physical-Season_Winter                  2736 non-null   float64
 55  Fitness_Endurance-Season_Fall           2736 non-null   float64
 56  Fitness_Endurance-Season_Spring         2736 non-null   float64
 57  Fitness_Endurance-Season_Summer         2736 non-null   float64
 58  Fitness_Endurance-Season_Winter         2736 non-null   float64
 59  FGC-Season_Fall                         2736 non-null   float64
 60  FGC-Season_Spring                       2736 non-null   float64
 61  FGC-Season_Summer                       2736 non-null   float64
 62  FGC-Season_Winter                       2736 non-null   float64
 63  BIA-Season_Fall                         2736 non-null   float64
 64  BIA-Season_Spring                       2736 non-null   float64
 65  BIA-Season_Summer                       2736 non-null   float64
 66  BIA-Season_Winter                       2736 non-null   float64
 67  PAQ_C-Season_Fall                       2736 non-null   float64
 68  PAQ_C-Season_Spring                     2736 non-null   float64
 69  PAQ_C-Season_Summer                     2736 non-null   float64
 70  PAQ_C-Season_Winter                     2736 non-null   float64
 71  SDS-Season_Fall                         2736 non-null   float64
 72  SDS-Season_Spring                       2736 non-null   float64
 73  SDS-Season_Summer                       2736 non-null   float64
 74  SDS-Season_Winter                       2736 non-null   float64
 75  PreInt_EduHx-Season_Fall                2736 non-null   float64
 76  PreInt_EduHx-Season_Spring              2736 non-null   float64
 77  PreInt_EduHx-Season_Summer              2736 non-null   float64
 78  PreInt_EduHx-Season_Winter              2736 non-null   float64
dtypes: float64(79)
memory usage: 1.7 MB

 - Riempio i valori NaN nelle feature rimaste con la media dei valori

In [18]:
cleaned_train = decoded_train.fillna(decoded_train.mean())
cleaned_train.info()
print("=====================================================\n shape: ", cleaned_train.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 2736 entries, 0 to 3958
Data columns (total 79 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Basic_Demos-Age                         2736 non-null   float64
 1   Basic_Demos-Sex                         2736 non-null   float64
 2   CGAS-CGAS_Score                         2736 non-null   float64
 3   Physical-BMI                            2736 non-null   float64
 4   Physical-Height                         2736 non-null   float64
 5   Physical-Weight                         2736 non-null   float64
 6   Physical-Diastolic_BP                   2736 non-null   float64
 7   Physical-HeartRate                      2736 non-null   float64
 8   Physical-Systolic_BP                    2736 non-null   float64
 9   FGC-FGC_CU                              2736 non-null   float64
 10  FGC-FGC_CU_Zone                         2736 non-null   float64
 11  FGC-FGC_GSND                            2736 non-null   float64
 12  FGC-FGC_GSND_Zone                       2736 non-null   float64
 13  FGC-FGC_GSD                             2736 non-null   float64
 14  FGC-FGC_GSD_Zone                        2736 non-null   float64
 15  FGC-FGC_PU                              2736 non-null   float64
 16  FGC-FGC_PU_Zone                         2736 non-null   float64
 17  FGC-FGC_SRL                             2736 non-null   float64
 18  FGC-FGC_SRL_Zone                        2736 non-null   float64
 19  FGC-FGC_SRR                             2736 non-null   float64
 20  FGC-FGC_SRR_Zone                        2736 non-null   float64
 21  FGC-FGC_TL                              2736 non-null   float64
 22  FGC-FGC_TL_Zone                         2736 non-null   float64
 23  BIA-BIA_Activity_Level_num              2736 non-null   float64
 24  BIA-BIA_BMC                             2736 non-null   float64
 25  BIA-BIA_BMI                             2736 non-null   float64
 26  BIA-BIA_BMR                             2736 non-null   float64
 27  BIA-BIA_DEE                             2736 non-null   float64
 28  BIA-BIA_ECW                             2736 non-null   float64
 29  BIA-BIA_FFM                             2736 non-null   float64
 30  BIA-BIA_FFMI                            2736 non-null   float64
 31  BIA-BIA_FMI                             2736 non-null   float64
 32  BIA-BIA_Fat                             2736 non-null   float64
 33  BIA-BIA_Frame_num                       2736 non-null   float64
 34  BIA-BIA_ICW                             2736 non-null   float64
 35  BIA-BIA_LDM                             2736 non-null   float64
 36  BIA-BIA_LST                             2736 non-null   float64
 37  BIA-BIA_SMM                             2736 non-null   float64
 38  BIA-BIA_TBW                             2736 non-null   float64
 39  PAQ_C-PAQ_C_Total                       2736 non-null   float64
 40  SDS-SDS_Total_Raw                       2736 non-null   float64
 41  SDS-SDS_Total_T                         2736 non-null   float64
 42  PreInt_EduHx-computerinternet_hoursday  2736 non-null   float64
 43  Basic_Demos-Enroll_Season_Fall          2736 non-null   float64
 44  Basic_Demos-Enroll_Season_Spring        2736 non-null   float64
 45  Basic_Demos-Enroll_Season_Summer        2736 non-null   float64
 46  Basic_Demos-Enroll_Season_Winter        2736 non-null   float64
 47  CGAS-Season_Fall                        2736 non-null   float64
 48  CGAS-Season_Spring                      2736 non-null   float64
 49  CGAS-Season_Summer                      2736 non-null   float64
 50  CGAS-Season_Winter                      2736 non-null   float64
 51  Physical-Season_Fall                    2736 non-null   float64
 52  Physical-Season_Spring                  2736 non-null   float64
 53  Physical-Season_Summer                  2736 non-null   float64
 54  Physical-Season_Winter                  2736 non-null   float64
 55  Fitness_Endurance-Season_Fall           2736 non-null   float64
 56  Fitness_Endurance-Season_Spring         2736 non-null   float64
 57  Fitness_Endurance-Season_Summer         2736 non-null   float64
 58  Fitness_Endurance-Season_Winter         2736 non-null   float64
 59  FGC-Season_Fall                         2736 non-null   float64
 60  FGC-Season_Spring                       2736 non-null   float64
 61  FGC-Season_Summer                       2736 non-null   float64
 62  FGC-Season_Winter                       2736 non-null   float64
 63  BIA-Season_Fall                         2736 non-null   float64
 64  BIA-Season_Spring                       2736 non-null   float64
 65  BIA-Season_Summer                       2736 non-null   float64
 66  BIA-Season_Winter                       2736 non-null   float64
 67  PAQ_C-Season_Fall                       2736 non-null   float64
 68  PAQ_C-Season_Spring                     2736 non-null   float64
 69  PAQ_C-Season_Summer                     2736 non-null   float64
 70  PAQ_C-Season_Winter                     2736 non-null   float64
 71  SDS-Season_Fall                         2736 non-null   float64
 72  SDS-Season_Spring                       2736 non-null   float64
 73  SDS-Season_Summer                       2736 non-null   float64
 74  SDS-Season_Winter                       2736 non-null   float64
 75  PreInt_EduHx-Season_Fall                2736 non-null   float64
 76  PreInt_EduHx-Season_Spring              2736 non-null   float64
 77  PreInt_EduHx-Season_Summer              2736 non-null   float64
 78  PreInt_EduHx-Season_Winter              2736 non-null   float64
dtypes: float64(79)
memory usage: 1.7 MB
=====================================================
 shape:  (2736, 79)

 - Salvo il risultato della pulizia in un csv unico così che sia utilizzabile e sia il riferimento per i file in cui creiamo i modelli

In [19]:
cleaned_data_export = pd.concat([cleaned_train, y_train], axis=1)   

output_path = os.path.join('dataset/', 'cleaned_data_export.csv')
cleaned_data_export.to_csv(output_path, index=False)

print(f"Cleaned dataset saved to {output_path}")

Cleaned dataset saved to dataset/cleaned_data_export.csv