In [3]:
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np

load_dotenv()
TRAIN_SET = os.getenv("TRAIN_PATH")
TEST_SET  = os.getenv("TEST_PATH")

train = pd.read_csv(TRAIN_SET)
test = pd.read_csv(TEST_SET)


train.head()

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,PCIAT-PCIAT_18,PCIAT-PCIAT_19,PCIAT-PCIAT_20,PCIAT-PCIAT_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday,sii
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,...,4.0,2.0,4.0,55.0,NaN,NaN,NaN,Fall,3.0,2.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,...,0.0,0.0,0.0,0.0,Fall,46.0,64.0,Summer,0.0,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,...,2.0,1.0,1.0,28.0,Fall,38.0,54.0,Summer,2.0,0.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,...,3.0,4.0,1.0,44.0,Summer,31.0,45.0,Winter,0.0,1.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Obbiettivo:
In questo file decidiamo di copiare la procedura di pulizia eseguita nella prima versione di cleaning ma al posto di riempire le feature più importanti con la media usiamo stimatore/classificatore apposito (usiamo Random Forest)

Mi aspetto che questo approccio risulti ottimale rispetto alla media poiché è presente una forte dipendenza tra le features

In [4]:
#estraggo 'sii'
train = train.dropna(subset=['sii'])

sii = train['sii']

sii.shape

(2736,)

In [5]:
def intersect_features(train_set, test_set):
    smaller_train = train_set[train_set.columns.intersection(test_set.columns)]
    smaller_train = smaller_train.drop(columns=['id'], axis=1)
    return smaller_train

X_train = intersect_features(train, test)

X_train.shape

(2736, 58)

In [6]:
X_train.head()

,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,Physical-Waist_Circumference,...,BIA-BIA_TBW,PAQ_A-Season,PAQ_A-PAQ_A_Total,PAQ_C-Season,PAQ_C-PAQ_C_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday
0,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,NaN,...,32.6909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall,3.0
1,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,22.0,...,27.0552,NaN,NaN,Fall,2.340,Fall,46.0,64.0,Summer,0.0
2,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,NaN,...,NaN,NaN,NaN,Summer,2.170,Fall,38.0,54.0,Summer,2.0
3,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,NaN,...,45.9966,NaN,NaN,Winter,2.451,Summer,31.0,45.0,Winter,0.0
5,Spring,13,1,Winter,50.0,Summer,22.279952,59.5,112.2,NaN,...,63.1265,NaN,NaN,Spring,4.110,Summer,40.0,56.0,Spring,0.0

In [7]:
# Drop the columns with more than a fixed percentage of missing values:
def drop_columns(df, threshold = 0.4):
    minimum_non_NaN = len(df) * threshold   
    dropped_columns = df.columns[df.isnull().sum() > (len(df) - minimum_non_NaN)].tolist()
    new_df = df.drop(columns=dropped_columns)
    return new_df, dropped_columns

features_train, dropped_columns = drop_columns(X_train)
features_train.info()
print("=====================================================\n shape: ", features_train.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 2736 entries, 0 to 3958
Data columns (total 48 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Basic_Demos-Enroll_Season               2736 non-null   object
 1   Basic_Demos-Age                         2736 non-null   int64
 2   Basic_Demos-Sex                         2736 non-null   int64
 3   CGAS-Season                             2342 non-null   object
 4   CGAS-CGAS_Score                         2342 non-null   float64
 5   Physical-Season                         2595 non-null   object
 6   Physical-BMI                            2527 non-null   float64
 7   Physical-Height                         2530 non-null   float64
 8   Physical-Weight                         2572 non-null   float64
 9   Physical-Diastolic_BP                   2478 non-null   float64
 10  Physical-HeartRate                      2486 non-null   float64
 11  Physical-Systolic_BP                    2478 non-null   float64
 12  Fitness_Endurance-Season                1260 non-null   object
 13  FGC-Season                              2647 non-null   object
 14  FGC-FGC_CU                              1919 non-null   float64
 15  FGC-FGC_CU_Zone                         1884 non-null   float64
 16  FGC-FGC_PU                              1909 non-null   float64
 17  FGC-FGC_PU_Zone                         1875 non-null   float64
 18  FGC-FGC_SRL                             1911 non-null   float64
 19  FGC-FGC_SRL_Zone                        1877 non-null   float64
 20  FGC-FGC_SRR                             1913 non-null   float64
 21  FGC-FGC_SRR_Zone                        1879 non-null   float64
 22  FGC-FGC_TL                              1919 non-null   float64
 23  FGC-FGC_TL_Zone                         1885 non-null   float64
 24  BIA-Season                              1844 non-null   object
 25  BIA-BIA_Activity_Level_num              1813 non-null   float64
 26  BIA-BIA_BMC                             1813 non-null   float64
 27  BIA-BIA_BMI                             1813 non-null   float64
 28  BIA-BIA_BMR                             1813 non-null   float64
 29  BIA-BIA_DEE                             1813 non-null   float64
 30  BIA-BIA_ECW                             1813 non-null   float64
 31  BIA-BIA_FFM                             1813 non-null   float64
 32  BIA-BIA_FFMI                            1813 non-null   float64
 33  BIA-BIA_FMI                             1813 non-null   float64
 34  BIA-BIA_Fat                             1813 non-null   float64
 35  BIA-BIA_Frame_num                       1813 non-null   float64
 36  BIA-BIA_ICW                             1813 non-null   float64
 37  BIA-BIA_LDM                             1813 non-null   float64
 38  BIA-BIA_LST                             1813 non-null   float64
 39  BIA-BIA_SMM                             1813 non-null   float64
 40  BIA-BIA_TBW                             1813 non-null   float64
 41  PAQ_C-Season                            1440 non-null   object
 42  PAQ_C-PAQ_C_Total                       1440 non-null   float64
 43  SDS-Season                              2527 non-null   object
 44  SDS-SDS_Total_Raw                       2527 non-null   float64
 45  SDS-SDS_Total_T                         2525 non-null   float64
 46  PreInt_EduHx-Season                     2719 non-null   object
 47  PreInt_EduHx-computerinternet_hoursday  2654 non-null   float64
dtypes: float64(37), int64(2), object(9)
memory usage: 1.0+ MB
=====================================================
 shape:  (2736, 48)

In [8]:
features_train.head()

,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,Physical-Diastolic_BP,...,BIA-BIA_LST,BIA-BIA_SMM,BIA-BIA_TBW,PAQ_C-Season,PAQ_C-PAQ_C_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday
0,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,NaN,...,38.9177,19.5413,32.6909,NaN,NaN,NaN,NaN,NaN,Fall,3.0
1,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,75.0,...,39.4497,15.4107,27.0552,Fall,2.340,Fall,46.0,64.0,Summer,0.0
2,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,65.0,...,NaN,NaN,NaN,Summer,2.170,Fall,38.0,54.0,Summer,2.0
3,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,60.0,...,58.9338,26.4798,45.9966,Winter,2.451,Summer,31.0,45.0,Winter,0.0
5,Spring,13,1,Winter,50.0,Summer,22.279952,59.5,112.2,60.0,...,79.6982,35.3804,63.1265,Spring,4.110,Summer,40.0,56.0,Spring,0.0